#style{
    color: whitesmoke;
    font-family: cursive;
}
div{
    background-color: transparent;
}
.h{
    background-color: ;
}
.o{
    color: red;
    font-size: larger;
    
}
body{
    text-align: center;
}