#style{
    color: whitesmoke;
    font-family: cursive;
}
div{
    background-color: transparent;
}
.h{
    display: inline;
}
.o{
    color: red;
    font-size: x-large;
    font-weight: bold;
    
    
}
body{
    text-align: center;
    font-style: italic;
}
#image3{
    height: 200px;
    width: 350px;
}
#image5{
    height: 230px;

}
#image1{
    height: 300px;
    width: 400px;
}
img{
    border-color: whitesmoke;
    border-style: double;
}
#h1{
    background-color: seashell;
    color: red;
}
.ol{
    color: lawngreen;
    background-color: lightyellow;
    text-align-last: center;
}
.b1{
    background-color: lightyellow;
}
